@media screen and (max-width: 1100px) {
  ul {
    grid-template-columns: 1fr;
  }

  li:first-of-type {
    grid-row: 1;
    border-bottom: 1px solid gray;
    margin-right: 0;

    > div {
      display: grid;
      grid-template-columns: minmax(250px, 350px) 1fr;
      gap: 1rem;
    }
    
    div > div {
      width: 100%;
    }
    
    div > div + div{
      gap: .5rem;
      padding-top: .5rem;
    
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    
    img {
      width: 100%;
      height: 200px;
    }

    p {
      display: none;
    }
  }
}

@media screen and (max-width: 690px) {
  ul > li > div {
    grid-template-columns: 1fr;
  }

  li:first-of-type {
    img {
      width: 100%;
      height: 250px;
    }
  }

  img {
    height: 250px;
  }
}