<ul>
  <li>
    <div>
      <div>
        <img src="/assets/carros.jpg" alt="porches antigos de corrida">
      </div>

      <div>
        <span>32 de janeiro, 2023</span>
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias inventore deleniti, aliquid fugit illum earum.</p>
      </div>
    </div>
  </li>

  <li>
    <div>
      <div>
        <img src="/assets/fotografo.jpg" alt="fotografo trabalhando">
      </div>

      <div>
        <span>32 de janeiro, 2023</span>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid dolorum sit eius dicta?</p>
      </div>
    </div>
  </li>
  
  <li>
    <div>
      <div>
        <img src="/assets/telefone.jpg" alt="moça ao telefone publico">
      </div>

      <div>
        <span>32 de janeiro, 2023</span>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur doloremque ipsa nobis, commodi aspernatur porro eligendi expedita.</p>
      </div>
    </div>
  </li>
  
  <li>
    <div>
      <div>
        <img src="/assets/show.jpg" alt="show">
      </div>

      <div>
        <span>32 de janeiro, 2023</span>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, in?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deserunt, unde aut libero vel ducimus. Repudiandae, nesciunt delectus. In, exercitationem?</p>
      </div>
    </div>
  </li>
</ul>