* {
  text-transform: uppercase;
  list-style: none;
}

div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div > ul:first-of-type li:first-of-type {
  padding: .7rem;
  border-radius: 50%;
  background-color: red;
  background-image: linear-gradient(to right top, rgb(138, 138, 248) 0%, red 40%, orange 90%);
}

/* ul:last-of-type {
  margin-left: auto;
} */

li {
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
}